* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 800vh;
    overflow: auto;
    background: #000;
}

.slider{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(-25deg)
    rotateZ(-120deg);
    transform-style: preserve-3d;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(130deg);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    overflow: hidden;
    margin: -300px 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
